@import "../Home/index.css";

.textbox {
    width: 100%;
    height: 50%;
    background-color: var(--green-background);
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 20px 30px;
}

.textbox textarea {
    width: 100%;
    min-height: 20%;
    max-height: 70%;
    display: block;
    resize: none;
    font-size: 0.8rem;
    line-height: 1.8;
    box-sizing: border-box;
    font-family: 'Source Sans Pro','Nunito Sans','Inter','Poppins','Martel Sans';
    padding: 7px;
    background-color: #ffffff;
    border-color: var(--green-border-line);
}

/* to-do change color on textarea on focus */

.crt-btn {
    position: absolute;
    right: 5%;
    padding: 5px 10px;
    margin: 5px;
    background-color:var(--btn-clr) ;
    color:  #ffffff;
}